@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap");

body {
  font-family: "Source Code Pro", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.bg-main {
  background-color: #16175a;
}

.text-main {
  color: #16175a !important;
}
